/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap'); */
.nav-header{
    background-color: black;
    color: white;
    padding: 20px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
