@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
.header{
    background-color: black;
    color: white;
    padding: 20px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
